<h1> Mmm Sandwiches </h1>

<% @sandwiches.each do |sandwich| %>
<h3><%= link_to sandwich.name, sandwich_path(sandwich) %></h3><br>
<% end %>

<%= button_to "Create a New Sandwich", new_sandwich_path, :method => :get %>


